<!-- We can bind our loginForm instance to the template form using the formGroup directive -->
<form [formGroup]="loginForm">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <!-- We can bind our input to a form control using the formControlName directive -->
    <input
      type="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
      formControlName="email"
    />
    <!-- ? stands for optional chaining. It will return undefined if the property dose not exist -->
    <div
      *ngIf="email?.errors && email?.invalid && email?.touched"
      class="text-danger"
    >
      <div *ngIf="email?.errors?.['required']">Email is required.</div>
      <div *ngIf="email?.errors?.['email']">
        Please use proper email format.
      </div>
      <div *ngIf="email?.errors?.['minlength']">
        Please type a minimum of 5 characters.
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      formControlName="password"
    />
  </div>
  <div
    *ngIf="password?.errors && password?.invalid && password?.touched"
    class="text-danger"
  >
    <div *ngIf="password?.errors?.['required']">Password is required.</div>
    <div *ngIf="password?.errors?.['minlength']">
      Please type a minimum of 5 characters.
    </div>
  </div>
  <div class="mb-3 form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="subscribe"
      formControlName="subscribe"
    />
    <label class="form-check-label" for="subscribe">Subscribe</label>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    (click)="onSubmit()"
    [disabled]="loginForm.invalid"
  >
    Submit
  </button>
</form>

<pre>{{ loginForm.value | json }}</pre>
